nav {
  ul{
  display: flex;
  flex-direction: row;
  flex: wrap;
  background-color: snow;
  }
  li{
    list-style: none;
    padding: 0 10px;
    &:not(:last-child) {
      border-right: $primary-color 1px;
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
    height: 50px;
  }
}
